@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

@mixin av($property, $startSize, $minSize, $widthFrom: 1520, $widthTo: 375) {
  $addSize: $startSize - $minSize;
  & {
    #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - #{$widthTo + px}) / #{($widthFrom) - ($widthTo)});
  }

  @media (min-width: ($widthFrom + px)) {
    & {
      #{$property}: $startSize + px;
    }
  }
}

body {
  font-family: 'Archivo', sans-serif;
}

.recent-projects {
  @include av('padding-top', 150, 60);
  @include av('padding-bottom', 70, 40);
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  &__container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 46px;
  }
  &__inner {
  }
  &__title {
  }
  &__slider {
    position: relative;
    width: 100%;
  }

  &__slider-wrapper {
    display: flex;
    width: 100%;
  }
  &__slider-slide {
    flex-shrink: 0;
    position: relative;
  }
  &__slider-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__slider-prev {
    transform: rotate(180deg) translateX(40px);
    &:hover {
      opacity: 0.8;
    }
  }
  &__slider-next {
    transform: translateX(40px);
    &:hover {
      opacity: 0.8;
    }
  }
}
.slide-rp {
  padding-right: 87px;
  padding-left: 33px;
  // padding-top: 131px;

  &__body {
    display: flex;
    // column-gap: 20px;
    position: relative;
    z-index: 2;
  }
  &__gradient {
    // transform: translateY(-70px);
    background: linear-gradient(275.64deg, #001253 0.87%, #930007 98.32%);
    border-radius: 35px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__images {
    flex: 0 1 774px;
    transform: translateY(100px);
    position: relative;
  }
  &__images-desk {
  }
  &__images-mob {
    position: absolute;
    top: -215px;
    @include av('left', -123, -30, 1600, 1000);
  }
  &__content {
    flex: 0 1 493px;
    @include av('padding-top', 193, 90);
    @include av('padding-bottom', 30, 50, 1600, 1200);
  }
  &__title {
    @include av('font-size', 30, 28);
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 140px;
      height: 7px;
      top: -22px;
      left: 0;
      background-color: #ec1721;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    font-weight: 300;
  }
}
