@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

@mixin av($property, $startSize, $minSize, $widthFrom: 1520, $widthTo: 375) {
  $addSize: $startSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - #{$widthTo + px}) / #{($widthFrom) - ($widthTo)});

  @media (min-width: ($widthFrom + px)) {
    #{$property}: $startSize + px;
  }
}

body {
  font-family: 'Archivo', sans-serif;
}

.recent-projects {
  @include av('padding-top', 150, 60);
  @include av('padding-bottom', 70, 40);
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  &__container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 46px;
    @media (max-width: 640px) {
      padding: 0 16px;
    }
  }
  &__title {
    @include av('font-size', 40, 32);
    color: #fff;
    font-weight: 700;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 70px;
    line-height: 1.2;
    transform: translateX(-50%);
    z-index: 10;
    @media (max-width: 1200px) {
      top: 40px;
    }
  }
  &__slider {
    position: relative;
    width: 100%;
  }

  &__slider-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  &__slider-slide {
    flex-shrink: 0;
    position: relative;
  }
  &__slider-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    @media (max-width: 640px) {
      top: -50px;
      justify-content: center;
    }
  }
  &__slider-prev {
    transform: rotate(180deg) translateX(40px);
    &:hover {
      opacity: 0.8;
    }
    @media (max-width: 640px) {
      transform: rotate(180deg) translateX(0px);
    }
  }
  &__slider-next {
    transform: translateX(40px);
    &:hover {
      opacity: 0.8;
    }
    @media (max-width: 640px) {
      transform: translateX(0px);
    }
  }
}
.slide-rp {
  padding-right: 87px;
  padding-left: 33px;
  padding-top: 50px;
  @media (max-width: 1200px) {
    padding: 90px 40px 0 40px;
  }
  @media (max-width: 640px) {
    padding: 90px 30px 0 30px;
  }
  &__body {
    display: flex;
    position: relative;
    z-index: 2;
    @media (max-width: 1200px) {
      row-gap: 40px;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__gradient {
    background: linear-gradient(275.64deg, #001253 0.87%, #930007 98.32%);
    border-radius: 35px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__images {
    flex: 0 1 774px;
    transform: translateY(100px);
    position: relative;
    @media (max-width: 1200px) {
      transform: translateY(50px);
      flex: 0 1 auto;
    }
    @media (max-width: 640px) {
      transform: translateY(30px);
    }
  }
  &__images-desk {
    @media (max-width: 1200px) {
      max-width: 85%;
      margin-left: 20%;
    }
    @media (max-width: 640px) {
      max-width: 100%;
      margin-left: 10%;
    }
  }
  &__images-mob {
    position: absolute;
    top: -255px;
    @include av('left', -123, -30, 1600, 1000);
    max-width: 352px;
    object-fit: contain;
    @media (max-width: 1200px) {
      left: -7%;
      top: -130px;
      max-width: 50%;
    }
    @media (max-width: 640px) {
      left: -40px;
      max-width: 70%;
    }
  }
  &__content {
    flex: 0 1 493px;
    @include av('padding-top', 193, 110, 1600, 1200);
    @include av('padding-bottom', 30, 50, 1600, 1200);
    @media (max-width: 1200px) {
      flex: 0 1 auto;
      padding-top: 90px;
    }
  }
  &__title {
    @include av('font-size', 30, 28);
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 140px;
      height: 7px;
      top: -22px;
      left: 0;
      background-color: #ec1721;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    font-weight: 300;
  }
}

.services-module {
  @include av('padding-top', 64, 40);
  @include av('padding-bottom', 96, 60);
  background: linear-gradient(275.64deg, #001253 0.87%, #930007 98.32%);
  &__container {
    max-width: 1600px;
    padding: 0 16px;
    margin: 0 auto;
  }
  &__header {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 37px;
  }
  &__title {
    color: #fff;
    @include av('font-size', 40, 32);
    line-height: 1.2;
    margin-bottom: 8px;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    color: #fff;
    @include av('font-size', 25, 20);
    text-align: center;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 131px;
    gap: 16px;
  }
}
.item-services-module {
  padding: 10px 25px 10px 25px;
  background-color: rgb(255, 255, 255, 0.16);
  border-radius: 8px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #ec1721;
    .item-services-module__icon {
      display: none;
    }
    .item-services-module__icon-hover {
      display: block;
    }
  }
  &__icon {
    width: 43px;
    height: 43px;
    object-fit: contain;
  }
  &__icon-hover {
    width: 43px;
    height: 43px;
    object-fit: contain;
    display: none;
  }
  &__title {
    @include av('font-size', 22, 20);
    color: #fff;
    line-height: 1.2;
    font-weight: 700;
  }
}
